.head{
    align-items: center;
    justify-content: space-between;
    display: flex
    
}
.products_section{
    /* padding: 10px 20px; */
    width: 98%;
    margin:10px auto;
    background-color: #fff;
    border-radius: 4px;
}
.Text{
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.products_items img{
    width: 150px;
    height: 150px;
    margin-top: 4px;
}
.products_section a{
    text-decoration: none;
    color: #111;
}
.products_items p{
    margin-top: 0px;
    
}



.products_items{
    margin-top: 10px;
    
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.all_btn{
    background-color:rgb(62, 75, 175);
    padding: 30px,16px;
    width: 200px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
    color:white;
    
}
