.Square{
    margin-top :60px;
    
}

.word{
  margin-top :60px;
  display: flex;
  justify-content: center;
}
.Login_box{
    margin-top :-20px;
    display: flex;
    justify-content: center;
}
.Login_box input{
  width: 20%;
  height: 50px;
}

.password_box{
  margin-top :30px;
  display: flex;
  justify-content: center;
}
.password_box input{
  width:20%;
  height: 50px;
}
.submit_btn{
  margin-top :10px;
  display: flex;
  justify-content: center;
}
.submit_btn button{
  background-color: blueviolet;
  border-radius: 20px;
  color: aliceblue;
  border-width:0;
  width: 100px;
  height: 30px;
}
.Login_box input{
  margin-top :30px;
}
.Product{
    
    background-color:white;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 3px;
    
    border-style: solid;
    border-color: black;
    border-width:thin;

  }

  